* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

.contant {
  padding-top: 60px;
}

.contant-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 300px;
  min-width: 200px;
  border-radius: 10px;
  padding: 0;
}

.contant-item h1 {
  display: inline-block;
  margin: auto 0;
  color: #0e578b;
  font-size: 55px;
  font-weight: 900;
}

.contant-title {
  cursor: default;
  margin-bottom: 50px;
  text-transform: uppercase;
  border: 2px dashed #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contant-title h1 span {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.for-backdrop {
  text-decoration: none;
  padding: 0 10px;
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}

.for-backdrop span {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: inline-block;
  margin: auto 0;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.for-backdrop span:hover {
  text-decoration: none;
  color: #cf22cc;
}

.for-backdrop:hover {
  text-decoration: none;
}

.for-backdrop:hover span {
  color: #cf22cc;
}

.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover, .item-7:hover, .item-8:hover, .item-9:hover {
  text-decoration: none;
}

@media screen {
  .item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover, .item-7:hover, .item-8:hover, .item-9:hover {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9 {
  background-size: cover;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.item-1 {
  background-image: url(../images/pexels-photo.jpg);
}

.item-2 {
  background-image: url(../images1/hi-tech-technology-noutbuk.jpg);
}

.item-3 {
  background-image: url(../images/climb.jpg);
}

.item-4 {
  background-image: url(../images/apple2.jpg);
}

.item-5 {
  background-image: url(../images/heart.jpg);
}

.item-6 {
  background-image: url(../images/laptop-apple.jpg);
}

.item-7 {
  background-image: url(../images/samsung.jpg);
}

.item-8 {
  background-image: url(../images/android.jpg);
}

.item-9 {
  background-image: url(../images/triangles.jpg);
}

.space {
  width: 30px;
}

@media (min-width: 992px) {
  .item-1, .item-5, .item-7 {
    margin-right: 50px;
  }
  .contant {
    min-height: 100vh;
    padding-top: 80px;
  }
  .contant-title {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 575.98px) {
  .contant {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contant-title {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 0 16px #1f165c;
          box-shadow: 0 0 16px #1f165c;
}

.contant-title span {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
/*# sourceMappingURL=style.css.map */