@charset "UTF-8";
.withslider {
  max-width: 600px;
}

.text-block {
  display: block;
}

.card1 {
  -webkit-perspective: 5000px;
          perspective: 5000px;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 500px) and (min-width: 320px) {
  .card1 {
    min-width: 250px;
    height: 750px;
  }
}

@media (min-width: 500px) {
  .card1 {
    min-width: 450px;
    height: 600px;
  }
}

@media (max-width: 320px) {
  .card1 {
    min-width: 156px;
    height: 750px;
  }
}

.linktopod {
  display: block;
  max-width: 100px;
}

.underground {
  background-color: #040853;
}

.underground__title {
  font-size: 30px;
  color: #fff;
}

.font, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 2px;
  -webkit-transition: 1S;
  transition: 1S;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
}

.underthis {
  text-align: right;
}

.font {
  z-index: 10;
  border: 3px solid #1c83a0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 499.9px) {
  .font h4 {
    font: small-caps bold 25px/1 sans-serif;
  }
}

@media (min-width: 500px) {
  .font h4 {
    font: small-caps bold 40px/1 sans-serif;
  }
}

.font p {
  color: #2378cc;
  opacity: 0.6;
}

.carousel {
  border-radius: 10px;
  margin-bottom: 50px;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-caption a {
  font-weight: bold;
  font-size: 29px;
}

.carousel-item img {
  width: 100px;
  border-radius: 10px;
}

.this {
  display: block;
  margin-left: auto;
  max-width: 300px;
  min-width: 40px;
}

@media (max-width: 500px) {
  .this {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .this {
    width: 100%;
  }
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid #0d5799;
  backdrop-filter: blur(10px);
}

.card1:hover .font {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card1:hover .back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@media (max-width: 500px) and (min-width: 320.1px) {
  .crit {
    font-size: 13px;
  }
}

@media (min-width: 500px) {
  .crit {
    font-size: 15px;
  }
}

@media (max-width: 320.999px) {
  .crit {
    font-size: 12px;
  }
}

@media (max-width: 499.9px) {
  .crit h2 {
    font-size: 20px;
  }
}

@media (min-width: 500px) {
  .crit h2 {
    font-size: 25px;
  }
}

.row a {
  display: inline-block;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.price {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

@media (max-width: 500px) and (min-width: 320.1px) {
  .price {
    font-size: 13px;
  }
}

@media (min-width: 500px) {
  .price {
    font-size: 15px;
  }
}

@media (max-width: 320.999px) {
  .price {
    font-size: 12px;
  }
}

.price p {
  font-weight: bold;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.price a {
  font-size: 15px;
}

.success {
  background-color: #7fe296;
  color: #065810;
}

@media (max-width: 992px) {
  .success {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
}

@media (min-width: 992.1px) {
  .success {
    border-top-left-radius: 7px;
  }
}

.success ul li {
  list-style-type: none;
}

.success ul li::before {
  content: '✔';
}

.aler {
  background-color: #d37474;
  color: #790000;
}

@media (min-width: 992.1px) {
  .aler {
    border-top-right-radius: 7px;
  }
}

.aler ul li {
  list-style-type: none;
}

.aler ul li::before {
  content: '❌';
}

ul {
  padding: 0;
}

.container .row {
  padding: 0;
}

.contant .title-top {
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: #0e578b;
}

@media (max-width: 500px) and (min-width: 320.1px) {
  .contant .title-top {
    font-size: 23px;
  }
}

@media (min-width: 500px) {
  .contant .title-top {
    font-size: 35px;
  }
}

@media (max-width: 320.999px) {
  .contant .title-top {
    font-size: 18px;
  }
}

@media (max-width: 993.9px) and (min-width: 768.1px) {
  .contant {
    padding-top: 80px;
  }
}

@media (max-width: 1200px) {
  .contant {
    padding-top: 30px;
  }
}

@media (min-width: 1200.1px) {
  .contant {
    padding-top: 50px;
  }
}

.vvedenie-block {
  color: #fff;
}

.slider-items {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.slider-items p {
  font-weight: bold;
}

@media (max-width: 600px) {
  .slider-items p {
    font-size: 20px;
  }
}

@media (min-width: 599.999px) {
  .slider-items p {
    font-size: 25px;
  }
}

.slider-items a {
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-items a:hover {
  text-decoration: none;
  color: #070550;
}

.navi {
  height: 300px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #1c83a0;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 400px;
}
/*# sourceMappingURL=top.css.map */